.cart-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.empty-cart-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5%;
  min-height: 100vh;
}

.empty-cart-image {
  width: 300px;
  height: 300px;
}

.empty-cart-title {
  font-size: 28px;
  font-family: Roboto;
  font-weight: bold;
  color: black;
  text-align: center;
  margin-bottom: 0px;
}

.empty-cart-desc {
  font-size: 18px;
  font-family: Roboto;
  font-weight: 400;
  color: black;
  text-align: center;
}

.empty-cart-link {
  text-decoration: none;
}

.empty-cart-button {
  font-size: 16px;
  font-weight: 500;
  font-family: Roboto;
  color: #ffffff;
  background-color: orange;
  border: none;
  outline: none;
  cursor: pointer;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 5px;
}
