.home-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 3% 0 3% 0;
}

.home-card-container {
  display: flex;
  flex-direction: column;
  width: 80%;
}

.home-popular-restaurant-card {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.restaurant-list-items {
  width: 100%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  list-style-type: none;
  padding-left: 0px;

  @media (min-width: 768px) {
    justify-content: space-around;
  }
}

.loader-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.home-popular-restaurant {
  font-size: 26px;
  font-family: Roboto;
  font-weight: 700;
  margin-bottom: 0;
}

.home-desc-sortby {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  margin-top: 0px;

  @media (min-width: 992px) {
    flex-direction: row;
    align-items: center;
  }
}

.select-sortby-card {
  display: flex;
  align-items: center;
}

.select-option-sortby {
  border: none;
  outline: none;
  padding-left: 10px;
  font-weight: 600;
  font-size: 16px;
  color: orange;
}

.sortby-options {
  font-size: 14px;
  font-family: Roboto;
  font-weight: 400;
}

.home-restaurant-greeting-desc {
  font-size: 16px;
  font-weight: 500;
  font-family: Roboto;
}

.sortby-icon {
  font-size: 24px;
  padding-right: 5px;
}

.sortby-text {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
}

.home-page-restaurant-pre-next-button {
  display: flex;
  align-items: center;
  align-self: center;
}

.slide-button {
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  border: 1 px solid rgb(15, 14, 14);
  outline: none;
  cursor: pointer;
  border-radius: 5px;
}

.active-page-list {
  font-size: 16px;
  font-family: Roboto;
  font-weight: bold;
  color: black;
  margin: 0px 5px;
}
